<h2><%= @user.capitalize %>'s details:</h3>
<h3>Email: <%= current_user(@user)[:email] %></h3>
<h3>Interests: <%= current_user(@user)[:interests].join(", ") %></h3>
<h3>Other Users:</h2>
<ul>
  <% other_users(@user).each do |other_user| %>
    <li>
      <a href="/users/<%= other_user %>"><%= other_user.capitalize %></a>
    </li>
  <% end %>
</ul>
